{% load static %}
<html>
    <head>
        <title>Grievance Portal</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/portal.css' %}">    
</head>
    <body>

            <div class="row section top indigo darken-4">
                <div class="col s1 offset-s1">
                    <img class="img-logo" src="{% static 'img/children-edu-logo.png' %}">
                </div>
                <div class="col s7 "> 

                     <h3 style="color:white" >The Oxford College of Engineering </h3>
                     <h5 style="color:white;text-align: center;">Children's Education Society</h5>
                     <h5 style="color:white">10th Milestone,Bommanahalli,Hosur Road,Bangalore - 560068</h5>

                </div>
                <div class="col s1 ">
                    <img class="img-logo" src="{% static 'img/oxford-logo.png' %}">
                </div>
            </div>

        <nav class="navbar navbar-default indigo darken-4">
            <div class="container-fluid">
              <ul class="nav navbar-nav">
                {% if not user.is_superuser %}
                    <li ><a href="{% url 'home' %}">Home</a></li>
                {% endif %}
                {% if user.is_superuser %}
                    <li ><a href="{% url 'complain_list' 'student' %}">Admin</a></li>
                {% endif %}
                <!-- <li><a href="#">Status</a></li> -->
              </ul>
              <ul class="nav navbar-nav navbar-right">
                  {%  if user.is_authenticated %}
                    <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-user"></span>Logout</a></li>
                  {% else %}
                    <li><a href="{% url 'register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                    <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                  {% endif %}  
              </ul>
            </div>
          </nav>


        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>

        <footer class="page-footer indigo darken-4"  >
                <div class="container">
                  <div class="row">
                    <div class="col l10 s12">
                            <h6>Designed and Developed By Aishwarya and Balson Gorai</h6>

                    </div>
                </div>
                <div class="footer-copyright">
                  <div class="container">
                        <span class="copyleft">&copy;</span> 
                        2019 Copyleft
                    </div>
                </div>
              </footer>
                  
    </body>
</html>