{% extends 'portal/base.html' %}

{% block content %}

<h4>Filter the Grievances:-</h4 >

<div class="container">
<div class="row">
<div class="col s4">
    <a class="waves-effect waves-light btn-large" href="{% url 'complain_list' 'student' %}">Student</a>
</div>
<div class="col s4">
    <a class="waves-effect waves-light btn-large" href="{% url 'complain_list' 'parent' %}">Parent</a>
</div>
<div class="col s4">
    <a class="waves-effect waves-light btn-large" href="{% url 'complain_list' 'staff' %}">Staff</a>
</div>
</div></div>
{% if students %}
    <h4>Students ({{counts}})</h4>
{% for student in students %}
        
    <div class="card">
            <div class="card-content">
                <p>PublishedDate: {{ student.published_date }}</p>
                <p>USN: {{ student.usn }}</p>
                <p>Name: {{ student.name }}</p>
                <p>Semester: {{ student.semester }}</p>
                <p>ParentName: {{ student.parentName }}</p>
                <p>Email: {{ student.email }}</p>
                <p>Phone: {{ student.phone }}</p>
                <p>Complain : {{ student.complain }}</p>
            </div>
        </div>
    {% endfor %}
{% elif parents%}
<h4>Parents ({{counts}})</h4>
    {% for parent in parents %}
    <div class="card">
        <div class="card-content">
            <p>PublishedDate: {{ parent.published_date }}</p>
            <p>StudentName: {{ parent.studentName }}</p>
            <p>USN: {{ parent.usn }}</p>
            <p>Semester: {{ parent.semester }}</p>
            <p>Name: {{ parent.Name }}</p>
            <p>Email: {{ parent.email }}</p>
            <p>Phone: {{ parent.phone }}</p>
            <p>Complain : {{ parent.complain }}</p>
        </div>
    </div>
    {% endfor %}
{% elif staffs %}
<h4>Staffs ({{counts}})</h4>
    {% for staff in staffs %}
    <div class="card">
        <div class="card-content">
            <p>PublishedDate: {{ staff.published_date }}</p>
            <p>StaffID: {{ staff.staffid }}</p>
            <p>Name: {{ staff.name }}</p>
            <p>Department: {{ staff.department }}</p>
            <p>Email: {{ staff.email }}</p>
            <p>Phone: {{ staff.phone }}</p>
            <p>Complain : {{ staff.complain }}</p>
        </div>
    </div>
    {% endfor %}
{% endif %}



{% endblock %}