{% extends 'portal/base.html' %}

{% block content %}
    {% if form == StudentForm %}
        <div class="student">
            <p>USN: {{ student.usn }}</p>
            <p>Name: {{ student.name }}</p>
            <p>Semester: {{ student.semester }}</p>
            <p>ParentName: {{ student.parentName }}</p>
            <p>Email: {{ student.email }}</p>
            <p>Phone: {{ student.phone }}</p>
            <p>Complain: {{ student.complain }}</p>
        </div>
    {% elif form == ParentForm %}
        <div class="parent">
            <p>StudentName: {{ parent.studentName }}</p>
            <p>USN: {{ parent.usn }}</p>
            <p>Semester: {{ parent.semester }}</p>
            <p>Name: {{ parent.name }}</p>
            <p>Email: {{ parent.email }}</p>
            <p>Phone: {{ parent.phone }}</p>
            <p>Complain: {{ parent.complain }}</p>
        </div>
    {% else %}
        <div class="staff">
            <p>StaffID: {{ staff.staffid }}</p>
            <p>Name: {{ staff.name }}</p>
            <p>Department: {{ staff.department }}</p>
            <p>Email: {{ staff.email }}</p>
            <p>Phone: {{ staff.phone }}</p>
            <p>Complain: {{ staff.complain }}</p>
        </div>
    {% endif %}

{% endblock %}