{% extends 'portal/base.html' %}

{% block content %}
<h3>Choose the category:-</h3>
<li><a href="#"><span class="glyphicon glyphicon-user"></span>Student</a></li>
<li><a href="#"><span class="glyphicon glyphicon-user"></span>Parent</a></li>
<li><a href="#"><span class="glyphicon glyphicon-user"></span>Staff</a></li>

{% for student in students %}
    <div>
        <p>USN: {{ student.usn }}</p>
        <p>Name: {{ student.name }}</p>
        <p>Semester: {{ student.semester }}</p>
        <p>ParentName: {{ student.parentName }}</p>
        <p>Email: {{ student.email }}</p>
        <p>Phone: {{ student.phone }}</p>
        <p>Complain : {{ student.complain }}</p>
    </div>
{% endfor %}

{% endblock %}